
body {
    margin: 40px;
}


.container {
    background-color: aquamarine;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(6,40px)
    

}
.bloc {
    background-color: coral;
}
.a {
    grid-column: auto;
}